.DS_Store
/JUCollectionView.xcodeproj/project.xcworkspace/xcuserdata/Sidney.xcuserdatad/UserInterfaceState.xcuserstate
/JUCollectionView.xcodeproj/project.xcworkspace/xcuserdata/Sidney.xcuserdatad/WorkspaceSettings.xcsettings
/JUCollectionView.xcodeproj/xcuserdata/Sidney.xcuserdatad/xcschemes/JUCollectionView.xcscheme
/JUCollectionView.xcodeproj/xcuserdata/Sidney.xcuserdatad/xcschemes/xcschememanagement.plist
/JUCollectionView.xcodeproj/xcuserdata/Sidney.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist